.test_sprite{background-image:url(/test.png); background-repeat:no-repeat}
.ADropper {width:81px;height:81px;background-position:2px 2px;}
.AnionExchangeMembrane {width:81px;height:81px;background-position:2px 85px;}
.Battery {width:81px;height:81px;background-position:2px 168px;}